*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.wrapper {
    overflow:hidden;
    min-height: 100%;
}
.main_head {
    background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    
}

.main-screen__bg{
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.header {
    width: 100%;
    background-color: #82b1ff;
    position: fixed;
    padding-top: 10px;
    padding-left: 88px;
    padding-bottom: 10px;
    
    
}
.box_row1{
    display: flex;
    text-align: center;
    align-items: center;
    display: flex;
    display: flex;
    
    
}
.logo {
    position: relative;
    
    align-items: center;
    justify-content: center;
    
}
.row1 {
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
}
.img {
    margin-right: 15px;
}
.text {
    
}
.tex span{
    float: left;
    font-family: Raleway;
    font-weight: 400;
    
}
.tex {
    font-weight: 400;
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 15px;
    line-height: 15px;
}

.navi {

   margin: auto;
   padding-right: 330px;
}


.sp1{
    display: none;
}
.sp {
    display: flex;
    list-style: none;
    width: 42px;
    height: 11px;
    color: #ffffff;
    font-family: "Raleway - Semi Bold";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    align-items: center;
    
}
.sp li{
    cursor: pointer;
    margin-right: 50px;
}
.sp li:hover{
    color: #061e37;
}
.sign {
    position: relative;
    margin-right: 103px;
    width: 80px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #fff;

}
.lik {
    margin: auto;
    text-align: center;
    border-radius: 6px solid red;
    text-decoration: none;
    color: #ffffff;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}
.lik:hover{
    color: #061e37;
}
.l1{
   
}
.r1{
    
}
.body {
    max-width: 1470px;
    padding-top: 315px;
    position: relative;
}
@media (max-width:720px){
    .logo{
        position: relative;
        width: 100px;
    }
    .l1{
        max-width: 500px;
    }
    .zag1{
        max-width: 350px;
        font-size: 5px;
        line-height: 0px;
    }
    .par1{
        max-width: 350px;
        font-size: 5px;
        line-height: 0px;
    }
    .flex_row {
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }
    .header {
        
        background-color: #82b1ff;
        position: fixed;
        padding-top: 10px;
        padding-left: 48px;
        padding-bottom: 10px;
        
    }
    
}
.flex_row {
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}
.l1 {
   
    max-width: 608px;
    
}
.zag1 {
color: #ffffff;
font-family: "Raleway - Extra Bold";
font-size: 55px;
font-weight: bold;
line-height: 65px;
text-transform: uppercase;

}
.par1 {
    color: #ffffff;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 35px;
}
.linka{
    padding-top: 33px;
    display: flex;
    padding-bottom: 185px;

}

.d1{
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #061e37;
    margin-right:30px;
}
.d2{
    position: relatve;
    width: 160px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
}
.a1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20.5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    
}
.a2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20.5px;
    color: #061e37;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.links {

}

.conte{
    position: relative;
    cursor: pointer;
    padding-left: 80px;
    max-width: 560px;
}
.conte h2{
    color: #061e37;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width:1054px){
    .flex_row{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    .burger{
        height: 20px;
        width: 25px;
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: left;
        margin-right: 30px;
        margin-left: auto;
        
    }
    .s1{
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        color: #fff;
        top:0;
        left: 0;
    }
    .s2{
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        color: #fff;
        top:9px;
        left: 0;
    }
    .s3{
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        color: #fff;
        bottom:0;
        left: 0;
    }
    .logo{
        width: 100px;
    }
   
    .navi{
        display: none;
    }
    .sp{
        display: none;
    }
    .sign{
        display: none;
    }
    .conte{
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        max-width: 560px;
    }


}